<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://unpkg.com/buefy/lib/buefy.min.css">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/buefy"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" 
		integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" 
		crossorigin="anonymous"></script>
	<title>Inventory</title>
	<style>
		
	</style>
</head>

<body>
	<div id="app">
		<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<div class="navbar-item">Inventory Management</div>
			</div>
			<div class="navbar-start">
				<a v-on:click="page = 'locations'" class="navbar-item">Locations</a>
				<a v-on:click="page = 'items'" class="navbar-item">Items</a>
			</div>
		</nav>
		<div class="container">
			<section>
				<b-table v-if="page == 'locations'" :data="locations" :columns="l_columns"
					:striped='true' :hoverable='true'>
					
					<template slot-scope="props">
						
					</template>
				</b-table>
				
				<b-table v-if="page == 'items'" :data="items" :columns="i_columns"
					:striped='true' :hoverable='true'></b-table>
				<a style="margin-top:1rem" class="button is-dark">
					<span class="icon">
					<i class="fas fa-plus"></i>
					</span>
					<span>Add</span>
				</a>
			</section>
		</div>
	</div>

	<!-- JS code begins here -->
	<script>
		Vue.use(Buefy.default)
		
		var app = new Vue({
			el: "#app",
			data: {
				page: 'locations',
				locations: [{name: 'drawer', parent: 'cabinet'}, {name: 'cabinet', parent: ''}],
				items: [{name: 'item 1', location: 'drawer'}, {name: 'item 2', location: 'drawer'}],
				l_columns: [{field: 'name', label: 'Name'}, {field: 'parent', label: 'Parent'}],
				i_columns: [{field: 'name', label: 'Name'}, {field: 'location', label: 'Location'}]
			}
		})
	</script>
</body>
</html>